{% extends 'base.html.twig' %}

{% block title %}Publier{% endblock %}
 {% block pagetitle %}
     <a href="{{ path('app_publier_index') }}"><span class="fa fa-list" aria-hidden="true"></span>
         <div class="header-section text-center">
             Liste
         </div>
     </a>
 {% endblock %}
 {% block menu %}
     <div class="header-section text-center">
         <h3>Detail</h3>
     </div>
     <div class="read-button mt-5 pull-right"><a href="{{ path('app_publier_edit', {'id': publier.id}) }}">Edit<span class="fa fa-long-arrow-right" aria-hidden="true"></span></a></div>
     <div class="read-button mt-5 pull-right"><a href="{{ path('app_publier_new') }}">Create new<span class="fa fa-long-arrow-right" aria-hidden="true"></span></a></div>
 {% endblock %}
{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publier.id }}</td>
            </tr>
            <tr>
                <th>Rang</th>
                <td>{{ publier.rang }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('publier/_delete_form.html.twig') }}
{% endblock %}
